
/*
 * Background for the main page
 */
.background {
	background: url(../image/xl_GreeceSunset.jpg) no-repeat center center;
	background-size: cover;
}

/*
 * Sign-in form
 */
.signin {
	background-color: rgba(222, 223, 234, 0.4);
}
