<div class="jumbotron home-background">
  <div class="container-fluid">
  
    <!-------------------->
    <!-- Vertical space -->
    <!-------------------->
    <div class="row">
      <div class="col-xs-12">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  
  
    <!-------------------->
    <!-- actual content -->
    <!-------------------->
    <div class="row">
      <div class="col-xs-4 col-xs-offset-2">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  
  
    <!-------------------->
    <!-- Vertical space -->
    <!-------------------->
    <div class="row">
      <div class="col-xs-12">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>

  </div> <!-- /container-fluid -->
</div> <!-- /jumbotron -->
