<div class="jumbotron home-background">
  <div class="container-fluid">
  
    <!-------------------->
    <!-- Vertical space -->
    <!-------------------->
    <div class="row">
      <div class="col-xs-12">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  
  
    <!-------------------->
    <!-- actual content -->
    <!-------------------->
    <div class="row">
      <div class="col-xs-12">
        <br>
        <br>
        <br>
        <br>
        <h1 class="text-center" style="color: white">
          Albatross Travel<sup><sup><small style="color: white">&reg;</small></sup></sup>
        </h1>
        <br>
        <br>
        <p class="text-center lead" style="color: white">LET THE HORIZON COME TO YOU</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  
  
    <!-------------------->
    <!-- Vertical space -->
    <!-------------------->
    <div class="row">
      <div class="col-xs-12">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>

  </div> <!-- /container-fluid -->
</div> <!-- /jumbotron -->
