
<div class="container-fluid background">    

    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-4 signin">
            <br>
            <form class="form-horizontal">
                <!-- Form Name -->
                <legend>Sign In  or  Create Your Own Profile</legend>

                <!-- UserID input-->
                <div class="control-group">
                    <label class="control-label" for="UserID">UserID</label>
                    <div class="controls">
                        <input id="UserID" name="UserID" type="text" placeholder="Username/Email" class="input-Xxlarge">
                    </div>
                </div>
                <br>

                <!-- Password input-->
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input id="password" name="password" type="password" placeholder="Password" class="input-Xxlarge">
                        <p class="help-block">Forget Your Password?</p>
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="control-group">
                    <label class="control-label" for="signin"></label>
                    <div class="controls">
                        <button id="signin" name="signin" class="btn btn-primary">Sign In</button>
                        <button id="register" name="register" class="btn btn-info">Register</button>
                    </div>
                </div>
            </form>
            <br>
        </div>


        <div class="col-sm-6"></div>
    </div>

    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

</div>
