<!---------------------------->
<!-- Errors and Diagnostics -->
<!---------------------------->
<div class="container-fluid">
  <!-- error message -->
  <div class="row" ng-show="showResult && error" ng-cloak>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <alert class="text-center" type="danger" close="reset()">{{ error }}</alert>
    </div>
  </div> <!-- /div with any errors -->

  <!-- ... loading ... -->
  <div class="row" ng-show="waiting || waitingRegions">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <alert class="text-center" type="warning"><em>...&nbsp;loading&nbsp;...</em></alert>
    </div>
  </div> <!-- /div with ...loading... -->
</div>


<!------------->
<!-- Regions -->
<!------------->
<!--
<div class="container-fluid" ng-show="showRegions">

  <div class="row">
    <div class="form-group">
      <div class="col-xs-12 col-md-2">
  	<p class="pull-right">Select a region:</p>
      </div>
      <div class="col-xs-12 col-md-3">
  	<select name="region" id="region" class="form-control" ng-model="region">
  	  <option value="All" selected=selected>All</option>
  	  <option ng-repeat="r in regions" value='{{ r["region"] }}'>{{ r["region"] }}</option>
  	</select>
      </div>
    <div>
  </div>

</div>
-->


<!-------------->
<!-- Packages -->
<!-------------->
<div class="jumbotron" ng-repeat="p in result"
     style='background: url(images/{{ p["fileName"] }}) no-repeat center center;
            background-size: cover;
            margin-bottom: 0;'>

  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <br><br><br><br>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-6">
        <h2>{{ p["description"] }}</h2>
      </div>
      <div class="col-xs-6">
        <h2 class="pull-right">${{ p["price"]-1 }}.92</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-6">
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div> <!-- /container -->

</div>

