<!------------------->
<!-- Package title -->
<!------------------->
<div class="container-fluid"
     style='background: url(images/{{ package.image.fileName }}) no-repeat center center;
            background-size: cover;
            margin-bottom: 0;'>


  <!--** Extra top space **-->
  <div class="row">
    <div class="col-xs-6">
      <br><br>
    </div>
  </div>


  <!--** Package name **-->
  <div class="row">
    <div class="col-xs-12">
        <div class="well well-lg" style="background: rgba(100, 100, 100, 0.4);">
            <h2 class="text-center" style="color: white;">{{ package.name }}</h2>
        </div>
        <br><br>
    </div>  
  </div>        


  <!--** Package description and price **-->
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h3 class="text-center" style="color: white;">{{ package.description }}</h3>
    </div>
    <div class="col-xs-1">
      <h2 class="pull-right" style="color: #f0f0f0">${{ package.price - 1 }}<sup>92</sup></h2>
    </div>
    <br><br><br><br>
  </div>


</div> <!-- /container-fluid -->



<!--------------------->
<!-- Package details -->
<!--------------------->
<div class="container-fluid">


  <!--** "Trip details" **-->
  <div class="row">
    <div class="col-xs-12 text-center">
      <br><br>
      <h2>Trip details</h2>
    </div>
  </div>

  <!--** Accordion **-->
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <accordion close-others="false">
        <accordion-group ng-repeat="s in details">
          <!-- Accordion heading -->
          <accordion-heading>
            {{ s.heading }}
          </accordion-heading>

          <!-- Transport information -->
          <div class="row" ng-if="!(s.flight && s.flight !== 'n/a')">
            <div class="col-xs-12">
              <span ng-if="s.origin && s.origin.city">
                From: {{ s.origin.city }}<span ng-if="s.origin.country">, {{ s.origin.country }}</span>
                <br>
              </span>
              <span ng-if="s.destination && s.destination.city">
                To: {{ s.destination.city }}<span ng-if="s.destination.country">, {{ s.destination.country }}</span>
              </span>              
            </div>
          </div> <!-- /transport information -->

          <!-- Flight information -->
          <div class="row" ng-if="s.flight && s.flight !== 'n/a'">
            <div class="col-xs-12">
              <span ng-if="s.flight.flightNo">
                Flight: {{ s.flight.flightNo }}
                <br>
              </span>
              <span ng-if="s.origin && s.origin.city">
                Departs: {{ s.origin.city }}<span ng-if="s.origin.country">, {{ s.origin.country }}</span>
                <span ng-if="s.flight.departDate"> at {{ s.flight.departDate }}</span>
                <br>
              </span>
              <span ng-if="s.destination && s.destination.city">
                Arrives: {{ s.destination.city }}<span ng-if="s.destination.country">, {{ s.destination.country }}</span>
                <span ng-if="s.flight.arriveDate"> at {{ s.flight.arriveDate }}</span>
              </span>
            </div>
          </div> <!-- /flight information -->

          <!-- Activity and Hotel information -->
          <div class="row" ng-if="!s.transport && s.hotel || s.activity">
            <div class="col-xs-12">
              <span ng-if="s.activity && s.activity.name">
                {{ s.activity.name }}
                <span ng-if="s.location && s.location.city">in {{ s.location.city }}</span>
                <span ng-if="s.duration && !(s.hotel && s.hotel.hotelId)">for {{ s.duration }} days</span>
                <br>
              </span>
              <span ng-if="s.hotel && s.hotel.hotelId" ng-init="s.hotel.hotelCollapsed = true">
                Staying in
                <a ng-click="s.hotel.hotelCollapsed = !s.hotel.hotelCollapsed" href="">{{ s.hotel.hotelId }} Hotel</a>
                <span class="glyphicon"
                      ng-class="{ 'glyphicon-chevron-down': s.hotel.hotelCollapsed,
                                  'glyphicon-chevron-right': !s.hotel.hotelCollapsed }">
                </span>
                <span ng-if="s.duration">for {{ s.duration }} days</span>
                <br>
                <div ng-if="s.hotel.description" collapse="s.hotel.hotelCollapsed">
                  <span ng-if="s.hotel.stars">
                   <span ng-repeat="j in s.hotel.stars track by $index" class="glyphicon glyphicon-star-empty"></span>
                  </span>
                  {{ s.hotel.description }}
                </div>
              </span>
            </div>
          </div> <!-- /activity and hotel information -->
        </accordion-group>
      </accordion>
    </div>
  </div> <!-- /row with accordion -->


  <!--** "Go" button **-->
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
      <button class="btn btn-lg btn-success" ng-click='go()'>
        &nbsp;
        <span class="glyphicon glyphicon-fire"></span>
        &nbsp;
        Go
        &nbsp;&nbsp;&nbsp;&nbsp;
      </button>
    </div>
  </div>


  <!--** Extra bottom space **-->
  <div class="row">
    <div class="col-xs-12">
      <br><br>
    </div>
  </div>


</div> <!-- /container-fluid -->
