<!-- 
	This content goes into "select-regions-view" of the root state (index.html)
-->
<div class="col-xs-3" ng-show="$root.showRegions">
  <div class="btn-group navbar-btn" dropdown>
    <button type="button" class="btn btn-success">Region:&nbsp;&nbsp; {{ $root.region.region }}</button>
    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle>
      <span class="caret"></span>
      <span class="sr-only">Split button</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="r in $root.regions" ng-class="{ disabled: !r.available }">
        <a href="#" ng-click="regionSelect(r)">
          {{ r.region }}
        </a>
      </li>
    </ul>
  </div>
</div>
