<!-- 
	This content goes into "select-regions-view" of the root state (index.html)
-->
<div class="col-xs-3">
  <form class="form-inline" role="form" ng-cloak>
    <div class="form-group">
      <p class="navbar-text" for="region">Select a region:
        <select name="region" id="region" class="form-control"
                ng-model="$root.region" ng-options='r.region disable when !r.available for r in $root.regions'
		ng-change="regionSelect()">
        </select>
      </p>
    </div>
  </form>
</div>
