<div class="col-sm-4" style="background-color: red;">
  <form method="post" action="../php/form_check.php"><br/>
    <p>Name</p>
    <input type="text" name="name" style="width:200px"><br/>
    <p>Date of Birth</p>
    <input type="date" name="birth"><br/>
    <p>Nationality</p>
    <input type="text" name="nation" style="width:200px"><br/>
    <p>Passport No</p>
    <input type="text" name="passportNo" style="width:200px"><br/>
    <p>Expire Date</p>
    <input type="date" name="passportExpire" style="width:100px"><br/>
    <p>Mail Address</p>
    <input type="text" name="email" style="width:200px"><br/>
    <p>Phone</p>
    <input type="phone" name="phone" style="widte:100px"><br/>
    <p>Password</p>
    <input type="password" name="passwd" style="width:100px"><br/>
    <p>Enter password again to confirm</p>
    <input type="password" name="passwd2" style="width:100px"><br/>
    <input type="submit" value="Submit"><br/>
  </form>
</div>
