<form name="signInForm" id="signInForm" ng-submit="" novalidate>


  <!------------------>
  <!-- Modal Header -->
  <!------------------>
  <div class="modal-header text-center">
    <span class="lead">Sign In</span>
  </div>

  
  <!---------------->
  <!-- Modal Body -->
  <!---------------->
  <div class="modal-body">
    <div class="container-fluid">

      <!-- ** ID ** -->
      <div class="row">
        <!-- Email -->
          <label for="logEmail" class="col-xs-12 control-label">
            Email
            <input type="type" id="logEmail" name="email" ng-model="customer.email" ng-pattern="stringPattern" class="form-control" required>
          </label>
      </div> <!-- /row -->
      
      <br>
      
      <!-- ** Password ** -->
      <div class="row">
          <!-- Password -->
          <label for="logPassword" class="col-xs-12 control-label">
            Password
            <input type="password" id="logPassword" name="password" ng-model="customer.password" class="form-control" required>
          </label>
      </div> <!-- row -->

      <!-- ** Error messages and diagnostics ** -->
      <div class="row">
        <div class="col-xs-12">
          <div ng-messages="signInForm.email.$error"
               ng-show="signInForm.email.$dirty && signInForm.email.$invalid">
            <div class="error" ng-message="pattern"><br><alert type="danger">{{ errorMessages["email-wrong"] }}</alert></div>
            <div class="error" ng-message="required"><br><alert type="danger">{{ errorMessages["email-required"] }}</alert></div>
          </div>
          <div ng-messages="signInForm.password.$error"
               ng-show="signInForm.password.$dirty && signInForm.password.$invalid">
            <div class="error" ng-message="required"><br><alert type="danger">{{ errorMessages["password-required"] }}</alert></div>
          </div>

          <!-- other error -->
          <div ng-show="error && signInForm.$pristine">
            <br><alert type="danger" close="error = false">{{ error }}</alert>
          </div>
        </div>
      </div>

      <!-- ... logging in ... -->
      <div class="row" ng-show="waiting">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <br>
          <alert class="text-center" type="warning" close="waiting = false"><em>...&nbsp;logging in&nbsp;...</em></alert>
        </div>
      </div> <!-- /div with ... logging in ... -->

    </div> <!-- /container-fluid -->
  </div> <!-- /modal-body -->


  <!---------------------------->
  <!-- Modal Footer - Buttons -->
  <!---------------------------->
  <div class="modal-footer">
    <!-- Register -->
    <button type="submit" class="btn btn-primary pull-left" ng-disabled="signInForm.$invalid" ng-click="signIn()">
      <span class="glyphicon glyphicon-log-in"></span>&nbsp;Sign in
    </button>
  
    <!-- Cancel -->
    <button class="btn btn-danger" ng-click="cancel()">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
    </button>
  </div>

</form>
