<!------------------>
<!-- Order Tables -->
<!------------------>
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>No.</th>
              <th>Customer</th>
              <th>Package</th>
              <th>Status</th>
              <th>Purchase Date</th>
              <th>Receipt</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="order in orders">
              <td>No.</td>
              <td>{{ order.name }}</td>
              <td>{{ order.package }}</td>
              <td>{{ order.status }}</td>
              <td>{{ order.purchaseDate }}}</td>
              <td>{{ order.receipt }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div> <!-- /container -->
