<!DOCTYPE html>
<html>



<!-- **** -->
<!--      -->
<!-- Head -->
<!--      -->
<!-- **** -->
<head>
    <title>Albatross Travel</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css">

    <!-- Load our stylesheet -->
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
</head>



<!-- **** -->
<!--      -->
<!-- Body -->
<!--      -->
<!-- **** -->
<body ng-app="albatrossApp" ng-controller="MainController">

  <!---------------->
  <!-- Navigation -->
  <!---------------->
  <div class="container-fluid">
    <nav class="row navbar navbar-default" style="margin-bottom: 0;">
      <div class="col-xs-12">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/home">Albatross</a>
        </div>
  
        <ul class="nav navbar-nav">
          <li><a href="#/home">Home</a></li>
          <li><a href="#/packages">Packages</a></li>
          <li><a href="#/trips">My Trips</a></li>
          <li><a href="#/profile">Profile</a></li>
        </ul>


        <div class="col-xs-3 col-xs-offset-1">
          <form class="form-inline" ng-show="onPackagesPage && showRegions" role="form" ng-cloak>
            <div class="form-group">
              <p class="navbar-text" for="region">Select a region:</p>
                <select name="region" id="region" class="form-control"
                        ng-model="$root.region" ng-change="regionSelect()">
                  <option value="All" selected=selected>All</option>
                  <option ng-repeat="r in $root.regions" value='{{ r["region"] }}'>{{ r["region"] }}</option>
                </select>
            </div>
          </form>
        </div>

  
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/signup"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
          <li><a href="#/signin"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
        </ul>
      <div> <!-- /col-xs-12 -->
    </nav>
  </div> <!-- /container-fluid -->


  <!---------------------->
  <!-- The partial view -->
  <!---------------------->
  <ng-view>
  </ng-view>
  

  <!---------------------->
  <!-- Vendor Libraries -->
  <!---------------------->
  <!-- Angular -->
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular/angular-sanitize.min.js"></script>
  <script src="vendor/angular/angular-route.min.js"></script>
  <!-- Bootstrap UI -->
  <script src="vendor/ui-bootstrap-tpls.min.js"></script>
 

  <!-------------> 
  <!-- Our App -->
  <!-------------> 
  <script src="js/main.js"></script>
</body>



</html>
