<!DOCTYPE html>
<html>



<!-- **** -->
<!--      -->
<!-- Head -->
<!--      -->
<!-- **** -->
<head>
    <title>Albatross Travel</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css">

    <!-- Load our stylesheet -->
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
</head>



<!-- **** -->
<!--      -->
<!-- Body -->
<!--      -->
<!-- **** -->
<body ng-app="albatrossApp" ng-controller="MainController">

  <!---------------->
  <!-- Navigation -->
  <!---------------->
  <div class="container-fluid">
    <nav class="row navbar navbar-default" style="margin-bottom: 0;" ng-cloak>
      <div class="col-xs-12">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/home">Albatross</a>
        </div>
  
        <ul class="nav navbar-nav col-xs-4">
          <li><a href="#/home">
            <span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li><a href="#/packages">
            <span class="glyphicon glyphicon-globe"></span> Packages</a></li>
          <li ng-show="signedIn"><a href="#/trips">
            <span class="glyphicon glyphicon-plane"></span> My Trips</a></li>
          <li ng-show="signedIn"><a href="#/profile">
            <span class="glyphicon glyphicon-user"></span> Profile</a></li>
        </ul>


        <div class="col-xs-3">
          <form class="form-inline" ng-show="onPackagesPage && showRegions" role="form" ng-cloak>
            <div class="form-group">
              <p class="navbar-text" for="region">Select a region:
                <select name="region" id="region" class="form-control"
                        ng-model="$root.region" ng-options='r.region disable when !r.available for r in $root.regions'
			ng-change="regionSelect()">
                </select>
              </p>
            </div>
          </form>
        </div>

  
        <ul class="nav navbar-nav navbar-right">
          <li><p class="navbar-text" ng-show="signedIn">Signed in as {{ $root.loginName }}</p></li>
          <li><a href="" ng-show="!$root.signedIn" ng-click="$root.signUp()">
            <span class="glyphicon glyphicon-pencil"></span> Sign up</a>
          </li>
          <li><a href="" ng-show="!$root.signedIn" ng-click="$root.signIn()">
            <span class="glyphicon glyphicon-log-in"></span> Sign in</a>
          </li>
          <li><a href="" ng-show="$root.signedIn" ng-click="$root.signOut()">
            <span class="glyphicon glyphicon-log-out"></span> Sign out</a>
          </li>
        </ul>
      <div> <!-- /col-xs-12 -->
    </nav>
  </div> <!-- /container-fluid -->


  <!---------------------->
  <!-- The partial view -->
  <!---------------------->
  <ng-view>
  </ng-view>
  

  <!---------------------->
  <!-- Vendor Libraries -->
  <!---------------------->
  <!-- Angular -->
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular/angular-route.min.js"></script>
  <script src="vendor/angular/angular-messages.min.js"></script>
  <script src="vendor/angular/angular-cookies.min.js"></script>
  <script src="vendor/angular/angular-sanitize.min.js"></script>

  <!-- Bootstrap UI -->
  <script src="vendor/ui-bootstrap-tpls.min.js"></script>

  <!-- Angular-JWT -->
  <script src="vendor/angular-jwt.min.js"></script>
 

  <!-------------> 
  <!-- Our App -->
  <!-------------> 
  <script src="js/main.js"></script>
  <script src="js/packages.js"></script>
  <script src="js/signin.js"></script>
  <script src="js/signup.js"></script>
</body>



</html>
