<!-- Confirm -->
<button type="submit" class="btn btn-primary pull-left"
        ng-disabled="chg.currPassword == null || chg.currPassword == '' ||
                     chg.newPassword == null || chg.newPassword == '' ||
                     chg.rePassword == null || chg.rePassword == '' ||
                     chg.newPassword != chg.rePassword" ng-click="passwordSubmit()">
  <span class="glyphicon glyphicon-ok"></span>&nbsp;Confirm
</button>

<!-- Cancel -->
<button class="btn btn-danger" ng-click="cancel()">
  <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
</button>
