<!-- Confirm -->
<button type="submit" class="btn btn-primary pull-left"
        ng-disabled="chg.formScope.currPassword == null || chg.formScope.currPassword == '' ||
                     chg.formScope.newPassword == null || chg.formScope.newPassword == '' ||
                     chg.formScope.rePassword == null || chg.formScope.rePassword == '' ||
                     chg.formScope.newPassword != chg.formScope.rePassword" ng-click="passwordSubmit()">
  <span class="glyphicon glyphicon-ok"></span>&nbsp;Confirm
</button>

<!-- Cancel -->
<button class="btn btn-danger" ng-click="cancel()">
  <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
</button>
