<form name="passwordForm" ng-submit="" novalidate>

        <fieldset>
          <p class="lead"><small>Change password</small></p>

      <!-- ** Current Password ** -->
          <!-- Password -->
          <label for="passPassword" class="col-xs-12 col-md-4 control-label">
            Current Password
            <input type="password" id="passPassword" name="currPassword" ng-model="chg.currPassword" class="form-control" required>
          </label>
      
      
      <!-- ** New Password ** -->
          <!-- Password -->
          <label for="passNewPassword" class="col-xs-12 col-md-4 control-label">
            New Password
            <input type="password" id="passNewPassword" name="newPassword" ng-model="chg.newPassword"
                   ng-focus="blurNewPassword=false" ng-blur="blurNewPassword=true" class="form-control" required>
          </label>
      
      <!-- ** Confirm new Password ** -->
          <!-- Password -->
          <label for="passRePassword" class="col-xs-12 col-md-4 control-label">
            Confirm new password
            <input type="password" id="passRePassword" name="rePassword" ng-model="chg.rePassword"
                   ng-focus="blurRePassword=false" ng-blur="blurRePassword=true" class="form-control" required>
          </label>

        </fieldset>


      <!-- ** Error messages and diagnostics ** -->
      <div class="row">
        <div class="col-xs-12">
          <alert type="danger" ng-show="(blurNewPassword || blurRePassword) && chg.newPassword !== chg.rePassword">
            <div class="error">Passwords do not match</div>
          </alert>

          <alert type="danger" ng-show="error" close="error = false">
            {{ error }}
          </alert>
        </div>
      </div>

      <!-- ... loading ... -->
      <div class="row" ng-show="waiting">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <br>
          <alert class="text-center" type="warning" close="waiting = false"><em>...&nbsp;loading&nbsp;...</em></alert>
        </div>
      </div> <!-- /div with ...loading... -->

  <!---------------------->
  <!-- Footer - Buttons -->
  <!---------------------->
    <!-- Confirm -->
    <button type="submit" class="btn btn-primary pull-left" ng-disabled="false" ng-click="passwordSubmit()">
      <span class="glyphicon glyphicon-ok"></span>&nbsp;Confirm
    </button>
  
    <!-- Cancel -->
    <button class="btn btn-danger" ng-click="cancel()">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
    </button>

</form>
