<form name="profileForm" ng-submit="" class="container" novalidate>


  <!------------>
  <!-- Header -->
  <!------------>
  <div class="modal-header text-center">
    <span class="lead">Personal Information</span>
  </div>

  
  <!---------->
  <!-- Body -->
  <!---------->
  <div class="modal-body">
    <div class="container-fluid">

      <!-- ** Personal details ** -->
      <div class="row">
        <fieldset>
          <p class="lead"><small>Personal details</small></p>
          <!-- Name -->
          <label for="regName" class="col-xs-12 col-md-6 control-label">
            Name
            <input type="text" id="regName" name="name" ng-model="customer.name" ng-pattern="stringPattern" class="form-control" ng-readonly="$state.includes('user.profile.view')" required>
          </label>

          <!-- Birth -->
          <label for="regBirth" class="col-xs-12 col-md-6 control-label" required>
            Birth date
            <input type="type" id="regBirth" name="birth" ng-model="customer.birth" ng-readonly="$state.includes('user.profile.view')" class="form-control">
          </label>
        </fieldset>
        <br>
      </div> <!-- /row -->

      <!-- ** Passport information ** -->
      <div class="row">
        <fieldset>
          <p class="lead"><small>Passport</small></p>
          <!-- Nationality -->
          <label for="regNationality" class="col-xs-12 col-md-4 control-label" required>
            Nationality
            <input type="text" id="regNationality" name="nationality" ng-model="customer.nationality" ng-pattern="stringPattern" class="form-control" ng-readonly="$state.includes('user.profile.view')">
          </label>

          <!-- Passport No -->
          <label for="regPassportNo" class="col-xs-12 col-md-3 control-label" required>
            Passport No
            <input type="text" id="regPassportNo" name="passportNo" ng-model="customer.passportNo" ng-pattern="/^([0-9]|[a-z])*$/i" class="form-control" ng-readonly="$state.includes('user.profile.view')">
          </label>

          <!-- Passport Expiry -->
          <label for="regPassportExp" class="col-xs-12 col-md-5 control-label" required>
            Expiration Date
            <input type="text" id="regPassportExp" name="passportExp" ng-model="customer.passportExp" class="form-control" ng-readonly="$state.includes('user.profile.view')">
          </label>
        </fieldset>
        <br>
      </div> <!-- /row -->

      <!-- ** Contact information ** -->
      <div class="row">
        <fieldset>
          <p class="lead"><small>Contact information</small></p>
          <!-- Phone -->
          <label for="regPhone" class="col-xs-12 col-md-6 control-label">
            Phone
            <input type="phone" id="regPhone" name="phone" ng-model="customer.phone" ng-pattern="/^([0-9]|[\+\-]|\s)*$/i" class="form-control" ng-readonly="$state.includes('user.profile.view')">
          </label>

          <!-- Email -->
          <label for="regEmail" class="col-xs-12 col-md-6 control-label">
            Email Address
            <input type="type" id="regEmail" name="email" ng-model="customer.email" ng-pattern="stringPattern" class="form-control" ng-readonly="$state.includes('user.profile.view')">
          </label>
        </fieldset>
        <br>
      </div> <!-- /row -->

      <!-- ** Choose a password ** -->
      <div class="row" ng-show="!readOnly">
        <fieldset>
          <p class="lead"><small>Set a password</small></p>
          <!-- Password -->
          <label for="regPassword" class="col-xs-12 col-md-6 control-label">
            Password
            <input type="password" id="regPassword" name="password" ng-model="customer.password"
                   ng-focus="blurPassword=false" ng-blur="blurPassword=true" class="form-control" required>
          </label>

          <!-- Re-enter password -->
          <label for="regPassword2" class="col-xs-12 col-md-6 control-label">
            Re-enter password
            <input type="password" id="regPassword2" name="password2" ng-model="customer.password2"
                   ng-focus="blurPassword2=false" ng-blur="blurPassword2=true" class="form-control" required>
          </label>
        </fieldset>
      </div> <!-- row -->

      <!-- ** Error messages and diagnostics ** -->
      <div class="row">
        <div class="col-xs-12">
          <br ng-show="profileForm.$invalid && profileForm.$dirty">
          <alert type="danger" ng-messages="profileForm.name.$error"
                 ng-show="profileForm.name.$dirty && profileForm.name.$invalid">
            <div class="error" ng-message="pattern">Wrong character in the name</div>
            <div class="error" ng-message="required">Name is required</div>
          </alert>
          <alert type="danger" ng-messages="profileForm.birth.$error"
                 ng-show="pfofileForm.birth.$dirty && profileForm.birth.$invalid">
            <div class="error" ng-message="date">Incorrect birth date</div>
            <div class="error" ng-message="required">Birth date is required</div>
          </alert>
          <alert type="danger" ng-messages="profileForm.nationality.$error"
                 ng-show="profileForm.nationality.$dirty && profileForm.nationality.$invalid">
            <div class="error" ng-message="pattern">Wrong character in the nationality</div>
            <div class="error" ng-message="required">Nationality is required</div>
          </alert>
          <alert type="danger" ng-messages="profileForm.passportNo.$error"
                 ng-show="profileForm.passportNo.$dirty && profileForm.passportNo.$invalid">
            <div class="error" ng-message="pattern">Wrong character in the passport number</div>
            <div class="error" ng-message="required">Passport number is required</div>
          </alert>
          <alert type="danger" ng-messages="profileForm.passportExp.$error"
                 ng-show="profielForm.passportExp.$dirty && profile.passportExp.$invalid">
            <div class="error" ng-message="date">Incorrect passport expiry date</div>
            <div class="error" ng-message="required">Passport expiration date is required</div>
          </alert>
          <alert type="danger" ng-messages="profileForm.phone.$error"
                 ng-show="profileForm.phone.$dirty && profileForm.phone.$invalid">
            <div class="error" ng-message="pattern">Wrong character in the phone number</div>
          </alert>
          <alert type="danger" ng-messages="profileForm.email.$error"
                 ng-show="profileForm.email.$dirty && profileForm.email.$invalid">
            <div class="error" ng-message="pattern">Incorrect email address</div>
            <div class="error" ng-message="required">Email address is required</div>
            <div class="error" ng-message="exists">Email address is already used</div>
          </alert>
          <alert type="danger" ng-show="(blurPassword || blurPassword2) && customer.password !== customer.password2">
            <div class="error">Passwords do not match</div>
          </alert>
	
          <alert type="danger" ng-show="error" close="error=false">
            {{ error }}
          </alert>
        </div>
      </div>

    </div> <!-- /container-fluid -->
  </div> <!-- /modal-body -->


  <!---------------------->
  <!-- Footer - Buttons -->
  <!---------------------->
  <div class="modal-footer">
    <!-- Modify Profile -->
    <button type="submit" class="btn btn-primary pull-left" ng-click="modify()" ng-show="'user.profile.view' | includedByState">
      <span class="glyphicon glyphicon-text-background"></span>&nbsp;Modify Profile
    </button>
    
    <!-- Modify Password -->
    <button type="submit" class="btn btn-primary pull-left" ng-click="modifyPassword()" ng-show="'user.profile.view' | includedByState">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;Change Password
    </button>
  
    <!-- Confirm -->
    <button class="btn btn-warning pull-left" ng-show="(blurPassword || blurPassword2) && customer.password === customer.password2" ng-click="confirm()">
      <span class="glyphicon"></span>&nbsp;Confirm
    </button>
  
    <!-- Cancel --
    <button class="btn btn-danger" ng-click="cancel()">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
    </button> -->
  </div>


</form>
