<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!-- Modify Profile -->
      <button type="submit" class="btn btn-primary pull-left" ng-click="modify()">
        <span class="glyphicon glyphicon-text-background"></span>&nbsp;Modify Profile
      </button>

      <!-- Change Password -->
      <button type="submit" class="btn btn-primary pull-right" ng-click="changePassword()">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;Change Password
      </button>

    </div> <!-- /col -->
  </div> <!-- /row -->
</div> <!-- /container -->
