<form name="modifypassword" id="modifypassword" ng-submit="" novalidate>


  <!------------------>
  <!-- Modal Header -->
  <!------------------>
  <div class="modal-header text-center">
    <span class="lead">Validation</span>
  </div>

  
  <!---------------->
  <!-- Modal Body -->
  <!---------------->
  <div class="modal-body">
    <div class="container-fluid">

      <!-- ** Current Password ** -->
      <div class="row">
          <!-- Password -->
          <label for="regPassword" class="col-xs-12 control-label">
            Current Password
            <input type="password" id="regPassword" name="password" ng-model="modify.currentpassword" class="form-control" required>
          </label>
      </div> <!-- row -->
      
      <br>
      
      <!-- ** New Password ** -->
      <div class="row">
          <!-- Password -->
          <label for="regPassword" class="col-xs-12 control-label">
            New Password
            <input type="password" id="regPassword" name="password" ng-model="modify.newpassword" class="form-control" required>
          </label>
      </div> <!-- row -->
      
      <br>
      
      <!-- ** Confirm new Password ** -->
      <div class="row">
          <!-- Password -->
          <label for="regPassword" class="col-xs-12 control-label">
            Confirm new password
            <input type="password" id="regPassword" name="password" ng-model="modify.newpassword2" class="form-control" required>
          </label>
      </div> <!-- row -->

      <!-- ** Error messages and diagnostics ** -->
      <div class="row">
        <div class="col-xs-12">
          <alert type="danger" ng-show="(blurPassword || blurPassword2) && modify.newpassword !== modify.newpassword2">
            <div class="error">Passwords do not match</div>
          </alert>

          <alert type="danger" ng-show="error" close="error = false">
            {{ error }}
          </alert>
        </div>
      </div>

      <!-- ... loading ... -->
      <div class="row" ng-show="waiting">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <br>
          <alert class="text-center" type="warning" close="waiting = false"><em>...&nbsp;loading&nbsp;...</em></alert>
        </div>
      </div> <!-- /div with ...loading... -->

    </div> <!-- /container-fluid -->
  </div> <!-- /modal-body -->


  <!---------------------------->
  <!-- Modal Footer - Buttons -->
  <!---------------------------->
  <div class="modal-footer">
    <!-- Confirm -->
    <button type="submit" class="btn btn-primary pull-left" ng-disabled="false" ng-click="changePassword()">
      <span class="glyphicon glyphicon-ok"></span>&nbsp;Confirm
    </button>
  
    <!-- Cancel -->
    <button class="btn btn-danger" ng-click="cancel()">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
    </button>
  </div>

</form>
