<!------------>
<!-- Orders -->
<!------------>
<div class="container">
  <br>
  <br>
  <div class="row">
    <alert type="success" class="col-xs-12 text-center" ng-show="!trips.length">
      <span>You do not have any outstanding orders</span>
    </alert>
  </div>
  <div class="row" ng-repeat="trip in trips">
    <div class="col-xs-12">

      <div class="well well-lg container"
           style='background: url(images/{{ trip["fileName"] }}) no-repeat center center;
                  background-size: cover;
                  color: white;'>
        <div class="row">
          <!-- package name -->
          <div class="col-xs-3">
            <span class="lead">{{ trip["package"] }}</span>
          </div>
          <!-- order status -->
          <div class="col-xs-3">
            <span class="lead">{{ trip["status"] }}</span>
          </div>
          <!-- purchaseDate -->
          <div class="col-xs-3" ng-show='trip["receiptId"]'>
            <span class="lead">{{ trip["purchaseDate"] }}</span>
          </div>
          <!-- receiptId -->
          <div class="col-xs-3" ng-show='trip["receiptId"]'>
            <span class="lead">{{ trip["receiptId"] }}</span>
          </div>
          <!-- Or: -->
          <!-- "Order" button -->
          <div class="col-xs-3 text-center" ng-show='!trip["receiptId"]'>
            <div id="trips-paypal-container-{{ $index }}" name="trips-{{ $index }}">
            </div>
          </div>
<!--
          <div class="col-xs-3 text-center" ng-show='!trip["receiptId"]'>
            <button class="btn btn-success">
              &nbsp;&nbsp;
              <span class="glyphicon glyphicon-road"></span>&nbsp;Order
              &nbsp;&nbsp;
            </button>
          </div>
-->
          <!-- "Remove" button -->
          <div class="col-xs-3 text-center" ng-show='!trip["receiptId"]' ng-click='removeOrders(trip["package"])'>
            <button class="btn btn-warning">
              <span class="glyphicon glyphicon-remove"></span>&nbsp;Remove
            </button>
          </div>
        </div>
      </div>

    </div>
  </div> <!-- external row -->

</div> <!-- /container -->
